<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.js"></script>
</head>
<body>

    <div id="jobById"></div>


</body>

<script>

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: '/job/1',
            dataType: "json",
            data:{},
            success: function (data) {
                console.log(data);
            },
            error:function (data) {
                console.log(data);
            }
        })
    })

</script>
</html>